In [17]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

### Download

In [18]:
city_central_html = '<div class="col-md-6"><h3>Central</h3> <ul><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/4800" alt="Report for Alamo" target="_blank">Alamo</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/4600" alt="Report for Blackhawk" target="_blank">Blackhawk</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5900" alt="Report for Clayton" target="_blank">Clayton</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5701" alt="Report for Concord" target="_blank">Concord</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5702" alt="Report for Clyde" target="_blank">Clyde</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/4500" alt="Report for Danville" target="_blank">Danville</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/4700" alt="Report for Diablo" target="_blank">Diablo</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5100" alt="Report for Lafayette" target="_blank">Lafayette</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5601" alt="Report for Martinez" target="_blank">Martinez</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5602" alt="Report for Pacheco" target="_blank">Pacheco</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5200" alt="Report for Moraga_Canyon" target="_blank">Moraga Canyon</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5300" alt="Report for Orinda" target="_blank">Orinda</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5400" alt="Report for Pleasant_Hill" target="_blank">Pleasant Hill</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/5000" alt="Report for Rossmoor" target="_blank">Rossmoor</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/4400" alt="Report for San_Ramon" target="_blank">San Ramon</a></li><li><a href="http://main.ccartoday.com/index.php/page/area/03/2021/4900" alt="Report for Walnut_Creek" target="_blank">Walnut Creek</a></li> <li><a href="http://main.ccartoday.com/index.php/page/statistical_recap/03/2021" alt="Report for Statistical_Recap" target="_blank">Statistical Recap</a></li><li><a href="http://main.ccartoday.com/index.php/page/housing_supply/03/2021" alt="Report for Housing_Supply" target="_blank">Housing Supply</a></li><li><a href="http://main.ccartoday.com/index.php/page/corridor/03/2021/680south" alt="Report for 680_South" target="_blank">680 South</a></li><li><a href="http://main.ccartoday.com/index.php/page/corridor/03/2021/680north" alt="Report for 680_North" target="_blank">680 North</a></li><li><a href="http://main.ccartoday.com/index.php/page/corridor/03/2021/clayton-clyde" alt="Report for Clayton_Clye" target="_blank">Clayton Clye</a></li><li><a href="http://main.ccartoday.com/index.php/page/corridor/03/2021/martinez-pacheco" alt="Report for Martinez_Pacheco" target="_blank">Martinez Pacheco</a></li></ul></div>'
city_central_soup = BeautifulSoup(city_central_html, 'lxml')

central_city_codes_dict = {}

for link in city_central_soup.find_all('a')[:16]:
    central_city_codes_dict[link.text] = link.get('href')[-4:]
central_city_codes_dict

{'Alamo': '4800',
 'Blackhawk': '4600',
 'Clayton': '5900',
 'Concord': '5701',
 'Clyde': '5702',
 'Danville': '4500',
 'Diablo': '4700',
 'Lafayette': '5100',
 'Martinez': '5601',
 'Pacheco': '5602',
 'Moraga Canyon': '5200',
 'Orinda': '5300',
 'Pleasant Hill': '5400',
 'Rossmoor': '5000',
 'San Ramon': '4400',
 'Walnut Creek': '4900'}

In [27]:
city_west_html = '<div class="col-md-6"><h3>West</h3> <ul><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1100" alt="Report for Crockett_Port_Costa" target="_blank">Crockett Port_Costa</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1200" alt="Report for Rodeo" target="_blank">Rodeo</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1301" alt="Report for Hercules_1301" target="_blank">Hercules 1301</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1302" alt="Report for Hercules_1302" target="_blank">Hercules 1302</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1400" alt="Report for Pinole" target="_blank">Pinole</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1500" alt="Report for El_Sobrante_County" target="_blank">El Sobrante_County</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1601" alt="Report for San_Pablo_Proper" target="_blank">San Pablo_Proper</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1602" alt="Report for San_Pablo_Tara_Hills_Bayview" target="_blank">San Pablo_Tara_Hills_Bayview</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1603" alt="Report for San_Pablo_Montavin" target="_blank">San Pablo_Montavin</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1604" alt="Report for San_Pablo_Rollingwood" target="_blank">San Pablo_Rollingwood</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1701" alt="Report for Richmond_El_Sobrante" target="_blank">Richmond El_Sobrante</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1702" alt="Report for Richmond_Hilltop_College" target="_blank">Richmond Hilltop_College</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1703" alt="Report for Richmond_View" target="_blank">Richmond View</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1704" alt="Report for Richmond_North_&amp;_East" target="_blank">Richmond North_&amp;_East</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1705" alt="Report for Richmond_North_&amp;_West_Parchest" target="_blank">Richmond North_&amp;_West_Parchest</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1706" alt="Report for Richmond_South" target="_blank">Richmond South</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1707" alt="Report for Richmond_Point_Richmond_Bayfro" target="_blank">Richmond Point_Richmond_Bayfro</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1708" alt="Report for Richmond_Annex" target="_blank">Richmond Annex</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1709" alt="Report for Richmond_Country_Club" target="_blank">Richmond Country_Club</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/area/03/2021/1800" alt="Report for El_Cerrito" target="_blank">El Cerrito</a></li> <li><a href="http://main.ccartoday.com/index.php/wccar/statistical_recap/03/2021" alt="Report for Statistical_Recap" target="_blank">Statistical Recap</a></li><li><a href="http://main.ccartoday.com/index.php/wccar/housing_supply/03/2021" alt="Report for Housing_Supply" target="_blank">Housing Supply</a></li></ul></div>'
city_west_soup = BeautifulSoup(city_west_html, 'lxml')

west_city_codes_dict = {}

for link in city_west_soup.find_all('a')[:20]:
    west_city_codes_dict[link.text] = link.get('href')[-4:]
west_city_codes_dict

{'Crockett Port_Costa': '1100',
 'Rodeo': '1200',
 'Hercules 1301': '1301',
 'Hercules 1302': '1302',
 'Pinole': '1400',
 'El Sobrante_County': '1500',
 'San Pablo_Proper': '1601',
 'San Pablo_Tara_Hills_Bayview': '1602',
 'San Pablo_Montavin': '1603',
 'San Pablo_Rollingwood': '1604',
 'Richmond El_Sobrante': '1701',
 'Richmond Hilltop_College': '1702',
 'Richmond View': '1703',
 'Richmond North_&_East': '1704',
 'Richmond North_&_West_Parchest': '1705',
 'Richmond South': '1706',
 'Richmond Point_Richmond_Bayfro': '1707',
 'Richmond Annex': '1708',
 'Richmond Country_Club': '1709',
 'El Cerrito': '1800'}

In [23]:
columns = ['City', 'Townhouse-Condo Attached', 'Single-Family Detached', 
           'New Listings', 'Pending Sales',
           'Closed Sales', 'Days on Market Until Sale', 'Median Sales Price',
           'Average Sales Price', 'Percent of Original List Price Received',
           'Inventory of Homes for Sale', 'Year', 'Month']

df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [City, Townhouse-Condo Attached, Single-Family Detached, New Listings, Pending Sales, Closed Sales, Days on Market Until Sale, Median Sales Price, Average Sales Price, Percent of Original List Price Received, Inventory of Homes for Sale, Year, Month]
Index: []

In [62]:
import time
def createCentralStatdf(page_type, month, year, city, city_code, result):
    '''
    INPUT:
    page_type - string, wccar or page
    month - int, 1-12
    year - int, 2011-2021
    city - srting
    city_code - int,
    df - pandas DataFrame
    
    OUTPUT:
    df - pandas DataFrame
    
    '''
#     print(f"started at: {time.time()}")
    
    central_stat_url = f"http://main.ccartoday.com/index.php/{page_type}/area/{month}/{year}/{city_code}"
    
    table_df = pd.read_html(central_stat_url)
    single_df = table_df[0][1:].transpose()[:3]

    single_df = single_df.rename(columns=single_df.iloc[0]).drop(single_df.index[0])

    single_df['Single-Family Detached'] = 1
    single_df['Townhouse-Condo Attached'] = 0

    condo_df = table_df[1][1:].transpose()[:3]

    condo_df = condo_df.rename(columns=condo_df.iloc[0]).drop(condo_df.index[0])

    condo_df['Single-Family Detached'] = 0
    condo_df['Townhouse-Condo Attached'] = 1
    
    single_df = single_df[1:]
    condo_df = condo_df[1:]

    new_df = pd.concat([single_df, condo_df], ignore_index=True)
    new_df['City'] = city
    new_df['Month'] = month
    new_df['Year'] = year
    
    result[city_code] = new_df

In [75]:
year = 2021

# for month in range(1, 4):
#     for city, city_code in central_city_codes_dict.items():
#         df = createCentralStatdf('page', month, year, city, city_code, df)
        
#     for city, city_code in west_city_codes_dict.keys():
#         df = createCentralStatdf('wccar', month, year, city, city_code, df)

import threading

threads = []
result = {}
for month in range(1, 12):
    for city, city_code in central_city_codes_dict.items():
        x = threading.Thread(target=createCentralStatdf, args=('page', month, year, city, city_code, result))
        threads.append(x)
        x.start()

#     for city, city_code in west_city_codes_dict.items():
#         x = threading.Thread(target=createCentralStatdf, args=('wccar', month, year, city, city_code, result))
#         threads.append(x)
#         x.start()

for _, thread in enumerate(threads):
    thread.join()

for k,v in result.items():
    df = pd.concat([df, v], ignore_index=True)

In [70]:
df.head(20)

,City,Townhouse-Condo Attached,Single-Family Detached,New Listings,Pending Sales,Closed Sales,Days on Market Until Sale,Median Sales Price,Average Sales Price,Percent of Original List Price Received,Inventory of Homes for Sale,Year,Month
0,Blackhawk,0,1,18,NaN,13,21,"$2,400,000","$2,629,461",104.04,13,2021,3
1,Blackhawk,1,0,1,NaN,NaN,0,$0,$0,0,1,2021,3
2,Alamo,0,1,47,NaN,27,14,"$2,350,000","$2,860,506",104.82,37,2021,3
3,Alamo,1,0,NaN,NaN,NaN,0,$0,$0,0,0,2021,3
4,Clayton,0,1,20,NaN,14,6,"$1,021,400","$1,023,254",105.81,11,2021,3
5,Clayton,1,0,NaN,NaN,1,4,"$590,000","$590,000",107.28,0,2021,3
6,Clyde,0,1,NaN,NaN,NaN,0,$0,$0,0,0,2021,3
7,Clyde,1,0,NaN,NaN,NaN,0,$0,$0,0,0,2021,3
8,Pleasant Hill,0,1,46,NaN,37,9,"$1,000,000","$1,023,336",110.11,11,2021,3
9,Pleasant Hill,1,0,8,NaN,14,9,"$651,000","$624,821",104.02,5,2021,3
10,Concord,0,1,110,NaN,105,9,"$801,000","$854,301",109.59,56,2021,3
11,Concord,1,0,45,NaN,30,11,"$354,500","$364,041",104.68,28,2021,3
12,Orinda,0,1,38,NaN,28,26,"$1,957,500","$2,062,920",108.06,24,2021,3
13,Orinda,1,0,2,NaN,NaN,0,$0,$0,0,1,2021,3
14,Lafayette,0,1,61,NaN,28,11,"$1,899,013","$2,028,167",106.93,26,2021,3
15,Lafayette,1,0,2,NaN,3,10,"$942,500","$975,833",105.68,3,2021,3
16,Danville,0,1,116,NaN,91,11,"$1,700,000","$1,844,862",109.59,51,2021,3
17,Danville,1,0,24,NaN,19,6,"$897,000","$864,579",106.47,12,2021,3
18,El Sobrante_County,0,1,2,2,1,43,"$755,000","$755,000",98.18,5,2021,3
19,El Sobrante_County,1,0,NaN,NaN,NaN,0,$0,$0,0,3,2021,3

In [179]:
for year in range(2011, 2021):

    for month in range(1, 13):
        for city in central_city_codes_dict.keys():
            city_code = central_city_codes_dict[city]
            df = createCentralStatdf('page', month, year, city, city_code, df)

        for city in west_city_codes_dict.keys():
            city_code = west_city_codes_dict[city]
            df = createCentralStatdf('wccar', month, year, city, city_code, df)

In [180]:
df.head()

,City,Townhouse-Condo Attached,Single-Family Detached,New Listings,Pending Sales,Closed Sales,Days on Market Until Sale,Median Sales Price,Average Sales Price,Percent of Original List Price Received,Inventory of Homes for Sale,Year,Month
0,Alamo,0,1,23,NaN,11,44,"$2,135,000","$2,369,636",97.56,19,2021,1
1,Alamo,1,0,NaN,NaN,2,50,"$826,500","$826,500",98.77,0,2021,1
2,Blackhawk,0,1,10,NaN,9,64,"$2,700,000","$2,813,144",97.86,13,2021,1
3,Blackhawk,1,0,1,NaN,NaN,0,$0,$0,0,0,2021,1
4,Clayton,0,1,11,NaN,9,13,"$1,028,300","$1,005,356",101.97,7,2021,1

### Cleaning

In [185]:
df['Median Sales Price'] = df['Median Sales Price'].apply(lambda x: x.replace('$', '').replace(',', ''))
df['Median Sales Price'] = df['Median Sales Price'].astype('int32')

In [191]:
df['Average Sales Price'] = df['Average Sales Price'].apply(lambda x: x.replace('$', '').replace(',', ''))
df['Average Sales Price'] = df['Average Sales Price'].astype('int32')

In [198]:
cols = df.drop(['Median Sales Price', 'Average Sales Price', 'City'], axis=1).columns
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [200]:
df.head()

,City,Townhouse-Condo Attached,Single-Family Detached,New Listings,Pending Sales,Closed Sales,Days on Market Until Sale,Median Sales Price,Average Sales Price,Percent of Original List Price Received,Inventory of Homes for Sale,Year,Month
0,Alamo,0,1,23.0,NaN,11.0,44,2135000,2369636,97.56,19,2021,1
1,Alamo,1,0,NaN,NaN,2.0,50,826500,826500,98.77,0,2021,1
2,Blackhawk,0,1,10.0,NaN,9.0,64,2700000,2813144,97.86,13,2021,1
3,Blackhawk,1,0,1.0,NaN,NaN,0,0,0,0.00,0,2021,1
4,Clayton,0,1,11.0,NaN,9.0,13,1028300,1005356,101.97,7,2021,1

In [206]:
df['Year-Month'] = df['Year'].to_st

TypeError: <class 'pandas.core.frame.DataFrame'> is not convertible to datetime

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8856 entries, 0 to 8855
Data columns (total 13 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   City                                     8856 non-null   object
 1   Townhouse-Condo Attached                 8856 non-null   int64
 2   Single-Family Detached                   8856 non-null   int64
 3   New Listings                             6704 non-null   float64
 4   Pending Sales                            5537 non-null   float64
 5   Closed Sales                             6527 non-null   float64
 6   Days on Market Until Sale                8856 non-null   int64
 7   Median Sales Price                       8856 non-null   int32
 8   Average Sales Price                      8856 non-null   int32
 9   Percent of Original List Price Received  8856 non-null   float64
 10  Inventory of Homes for Sale              8856 non-null   int64
 11  Year                                     8856 non-null   int64
 12  Month                                    8856 non-null   int64
dtypes: float64(4), int32(2), int64(6), object(1)
memory usage: 830.4+ KB

In [201]:
df.to_csv('Monthly_Stat_Reports.csv', index=False)

In [ ]:
month = {
    1: "January", 
         2: "February", 
         3: "March", 
    4: "April", 
         5: "May", 
         6: "June",
         7: "July", 
         8: "August", 
         9: "September", 
         10: "October", 
         11: "November", 
         12: "December"
        }

df.rename(columns={'Month' : "Month num"},
          inplace=True)

df['Month'] = df.apply(lambda row: month[row["Month num"]], axis=1)

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float

database_filepath = './Monthly_Stat_Reports.db'
engine = create_engine('sqlite:///{}'.format(database_filepath))

sqlite_connection = engine.connect()

In [ ]:
table_name = 'Monthly_Stat_Reports_Cities'
df.to_sql(
    table_name,
    engine,
    if_exists='replace',
    index=False,
    #dtype=dtypes,
    chunksize=500
)

In [ ]:
sqlite_connection.close()