In [1]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

In [33]:
city_codes_df = pd.read_csv('city_codes.csv')
city_codes_df.head()

        city  code page_type
0      Alamo  4800      page
1  Blackhawk  4600      page
2    Clayton  5900      page
3    Concord  5701      page
4      Clyde  5702      page

In [119]:
columns = ['City', 'Townhouse-Condo Attached', 'Single-Family Detached', 
           'New Listings', 'Pending Sales',
           'Closed Sales', 'Days on Market Until Sale', 'Median Sales Price',
           'Average Sales Price', 'Percent of Original List Price Received',
           'Inventory of Homes for Sale', 'Year', 'Month']

df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [City, Townhouse-Condo Attached, Single-Family Detached, New Listings, Pending Sales, Closed Sales, Days on Market Until Sale, Median Sales Price, Average Sales Price, Percent of Original List Price Received, Inventory of Homes for Sale, Year, Month]
Index: []

In [83]:
months = {
    '01': "January", 
    '02': "February", 
    '03': "March", 
    '04': "April", 
    '05': "May", 
    '06': "June",
    '07': "July", 
    '08': "August", 
    '09': "September", 
    '10': "October", 
    '11': "November", 
    '12': "December"
}

In [121]:
def loadSityData(city, city_codes_df, month, year, house_type):
    city_code = city_codes_df[city_codes_df['city'] == city].iloc[0,1]
    page_type = city_codes_df[city_codes_df['city'] == city].iloc[0,2]
    
    central_stat_url = f"http://main.ccartoday.com/index.php/{page_type}/area/{month}/{year}/{city_code}"
    
    table_df = pd.read_html(central_stat_url)
    
    
    single_df = table_df[house_type][1:].transpose()[:3]

    single_df = single_df.rename(columns=single_df.iloc[0]).drop(single_df.index[0])
    single_df = single_df[1:]
    
    if house_type == 0:
        single_df['Single-Family Detached'] = 1
        single_df['Townhouse-Condo Attached'] = 0
    else:
        single_df['Single-Family Detached'] = 0
        single_df['Townhouse-Condo Attached'] = 1

    single_df['City'] = city
    single_df['Month_num'] = month
    single_df['Month'] = months[month]
    single_df['Year'] = year
    single_df['Median'] = single_df['Median Sales Price'].apply(lambda x: x.replace('$', '') \
                                                                .replace(',', '')).astype('int32')
    single_df['Average'] = single_df['Average Sales Price'].apply(lambda x: x.replace('$', '') \
                                                                  .replace(',', '')).astype('int32')
    cols=['New Listings', 'Closed Sales', 'Days on Market Until Sale', 'Inventory of Homes for Sale']
    single_df[cols] = single_df[cols].apply(pd.to_numeric, errors='coerce')
    single_df['Percent of Original List Price Received'] = single_df['Percent of Original List Price Received'] \
                                                                    .apply(pd.to_numeric, errors='coerce')
    return single_df

new_df = loadSityData('Concord', city_codes_df, '01', '2021', 1)
new_df.head()

,Townhouse-Condo Attached,New Listings,Pending Sales,Closed Sales,Days on Market Until Sale,Median Sales Price,Average Sales Price,Percent of Original List Price Received,Inventory of Homes for Sale,Single-Family Detached,City,Month_num,Month,Year,Median,Average
2,1,32,NaN,24,18,"$352,500","$363,025",101.53,20,0,Concord,01,January,2021,352500,363025

In [122]:
df

Empty DataFrame
Columns: [City, Townhouse-Condo Attached, Single-Family Detached, New Listings, Pending Sales, Closed Sales, Days on Market Until Sale, Median Sales Price, Average Sales Price, Percent of Original List Price Received, Inventory of Homes for Sale, Year, Month]
Index: []

In [ ]:
#